/*font-family: "rooney-web",sans-serif;*/
/*font-family: "rooney-sans",serif;*/

body {
  font-size: 15px;
  font-family: "rooney-sans",serif;
  line-height: 1.5;
  /*background-color: #FFDB24;*/
  padding: 0 15px 15px 15px;
}

h1 {
  display: inline-block;
}

h2 {
  display: inline;
}

body {
  /*background-color: #FFDB24;*/
  background-color: #ecf0f1;
  color: #333;
}
section {
  border-top: 1px solid rgba(0,0,0,.2);
  padding-bottom: 100px;
}

section:first-child {
  border-top: none;
}

section .first {
  width: 11%;
  vertical-align: top;
  padding: 15px 1.5% 15px 0;
  font-weight: bold;
}

section .second {
  width: 87%;
}

.first, .second {
  display: inline-block;
}

.row {
  padding: 15px 0;
  transition: .1s all;
  display: block;
  color: #333;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

section:first-child .row{
  border-bottom: none;
}

section a {
  text-decoration: none;
}

.second a:last-child .row {
  border-bottom: none;
}

.chunk .row:hover{
  background-color: #FFDB24;
  padding: 15px 15px;
}

.chunk .row span {
  color: rgba(0,0,0,0.3);
  font-size: 12px;
}

.row a {
  border-bottom: 1px solid rgba(0,0,0,.2);
  color: #333;
}

.row a:hover {
  border-bottom-color: rgba(0,0,0,.8);
}


@media only screen and (max-width: 479px) {

}