/*font-family: "rooney-web",sans-serif;*/
/*font-family: "rooney-sans",serif;*/

body {
  font-size: 15px;
  font-family: "rooney-sans",serif;
  line-height: 1.5;
  /*background-color: #FFDB24;*/
  padding: 0 15px 15px 15px;
}

h1 {
  display: inline-block;
}

h2 {
  display: inline;
}


@media only screen and (max-width: 479px) {

}